In [1]:
# Merging the data into one excel file using pandas
import pandas as pd

In [2]:
reactions = pd.read_csv('Reactions.csv')
content = pd.read_csv('Content.csv')
reaction_types = pd.read_csv('ReactionTypes.csv')

In [3]:
# Display the first few rows of each dataframe to understand their structure
reactions_head = reactions.head()
content_head = content.head()
reaction_types_head = reaction_types.head()

In [4]:
(reactions_head, content_head, reaction_types_head)

(   Unnamed: 0                            Content ID Reactions Type  \
 0           1  97522e57-d9ab-4bd6-97bf-c24d952602d2        disgust
 1           2  97522e57-d9ab-4bd6-97bf-c24d952602d2        dislike
 2           3  97522e57-d9ab-4bd6-97bf-c24d952602d2         scared
 3           4  97522e57-d9ab-4bd6-97bf-c24d952602d2        disgust
 4           5  97522e57-d9ab-4bd6-97bf-c24d952602d2     interested

           Datetime
 0   11/7/2020 9:43
 1  6/17/2021 12:22
 2   4/18/2021 5:13
 3   1/6/2021 19:13
 4  8/23/2020 12:25  ,
    Unnamed: 0                            Content ID Contents Type  \
 0           0  97522e57-d9ab-4bd6-97bf-c24d952602d2         photo
 1           1  9f737e0a-3cdd-4d29-9d24-753f4e3be810         photo
 2           2  230c4e4d-70c3-461d-b42c-ec09396efb3f         photo
 3           3  356fff80-da4d-4785-9f43-bc1261031dc6         photo
 4           4  01ab84dd-6364-4236-abbb-3f237db77180         video

          Category
 0        Studying
 1  healthy eating
 2  healthy eating
 3      technology
 4            food  ,
    Unnamed: 0 ReactionType Sentiment  Score
 0           0        heart  positive     60
 1           1         want  positive     70
 2           2      disgust  negative      0
 3           3         hate  negative      5
 4           4   interested  positive     30)

In [5]:
# Merge Reactions with Content on 'Content ID'
merged_df = pd.merge(reactions, content, on='Content ID', how='left')

In [6]:
# Merge the result with ReactionTypes on 'Reactions Type'
final_df = pd.merge(merged_df, reaction_types, left_on='Reactions Type', right_on='ReactionType', how='left')

In [7]:
# Check the merged result
final_df.head()

,Unnamed: 0_x,Content ID,Reactions Type,Datetime,Unnamed: 0_y,Contents Type,Category,Unnamed: 0,ReactionType,Sentiment,Score
0,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,11/7/2020 9:43,0,photo,Studying,2,disgust,negative,0
1,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,6/17/2021 12:22,0,photo,Studying,11,dislike,negative,10
2,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,4/18/2021 5:13,0,photo,Studying,14,scared,negative,15
3,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,1/6/2021 19:13,0,photo,Studying,2,disgust,negative,0
4,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,8/23/2020 12:25,0,photo,Studying,4,interested,positive,30

In [8]:
# Group by 'Category' and calculate the total scores
category_scores = final_df.groupby('Category')['Score'].sum().reset_index()

In [9]:
# Sort the categories by total score in descending order and select the top 5
top_5_categories = category_scores.sort_values(by='Score', ascending=False).head(5)

In [10]:
top_5_categories

          Category  Score
13         animals  71242
20  healthy eating  69067
25      technology  68521
22         science  66549
15         culture  64952